$black: #2c2f33;
$white: #f6f6f6;
$red: #d6204b;
$red2: rgb(204, 60, 60);
$grey: #c4c4c4;
$background: #2c2f33;

body {
  background-color: $background;
}

//Fightpage
.fight-container {
  color: #fff;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  display: block;
  box-sizing: border-box;
}

//Select component
.select {
  //
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.isselected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0px;
}
.select-btn {
  text-align: center;
  background-color: rgb(204, 60, 60);
  font-family: "Nosifer", sans-serif;
  font-size: 1em;
  transition: 0.5s ease-in-out;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 2px 5px 2px black;
  color: white;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  margin: 1rem;
  &:hover {
    transition: 0.5s ease-in-out;
    color: black;
  }
}
.fight-btn {
  text-align: center;
  background-color: rgb(204, 60, 60);
  font-family: "Nosifer", sans-serif;
  font-size: 1.6em;
  transition: 0.5s ease-in-out;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 2px 5px 2px black;
  color: white;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  margin-bottom: 1rem;
  &:hover {
    transition: 0.5s ease-in-out;
    color: black;
  }
}

//UserCat component

.slide {
  opacity: 0;
  transition: 0.7s;
  transform: scale(0.6);
}
.slide.active {
  opacity: 1;
  transition: 0.5 ease-in-out;
  transform: scale(1);
}

.user-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-cat-title {
  font-size: 1.6rem;
  text-align: center;
  margin: 0.5rem;
  // font-family: "Nosifer", sans-serif;
}
.user-cat-name {
  font-size: 1.6rem;
  text-align: center;
  margin: 0.5rem;
}
.usercat-img-select {
  width: 230px;
  height: 230px;
  border-radius: 20px 20px 20px 20px;
  object-fit: cover;
  object-position: center;
  border: solid 3px $red;
  box-shadow: 0px 0px 10px 2px $red;
  z-index: 2;
}
.stats-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  width: 230px;
  border-top: none;
  margin-top: 1rem;
  // border: 2px solid $grey;
  // border-radius: 20px 20px 20px 20px;
}
.stats {
  margin: 0.3rem;
  font-size: 20px;
}

.usercat-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-btn,
.prev-btn {
  font-size: 5rem;
  border: none;
  border-radius: 10px;
  color: $red2;
  cursor: pointer;
  padding: 0px 5px 5px 5px;
  background-color: $black;
}

//Custom Select component
.create-cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid $grey;
  width: 80%;
  background-color: rgba(128, 128, 128, 0.619);
  color: black;
  font-weight: bold;
}
.remove-btn {
  margin: 0.5rem;
  font-weight: bold;
  text-align: center;
  background-color: rgb(204, 60, 60);
  font-size: 0.9em;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px 2px black;
  color: black;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  margin: 0.5rem;

  &:hover {
    transition: 0.5s ease-in-out;
    color:white;
    box-shadow: 0px 0px 5px 2px white;
  }
}
.no-cat-title {
  margin: 1rem;
  text-align: center;
}
.point-left-title {
  text-align: center;
  margin: 0.5rem;
  font-size: 1.5rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-select {
  border: none;
  border-radius: 5px;
  outline: none !important;
  text-align: center;
  height: 30px;
  &:focus {
    box-shadow: 0px 0px 16px 7px rgba(255, 255, 255, 0.25);
  }
  &::placeholder {
    text-align: center;
    font-family: "Cochin", sans-serif;
  }
}
.input-select-2  {
  border-radius: 5px;
  border: none;
  outline: none !important;
  text-align: center;
  height: 30px;
  &:focus {
    box-shadow: 0px 0px 16px 7px rgba(255, 255, 255, 0.25);
  }
  &::placeholder {
    text-align: center;
    font-family: "Cochin", sans-serif;
  }
}
.assign-point-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.assign-point-div {
  display: flex;
  justify-content: space-around;
}
.point-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
p {
  margin: 0px 0.5rem;
}
.create-attack,
.create-magic,
.create-defense-min,
.create-defense-max,
.create-health-point {
  display: flex;
  justify-content: space-evenly;
  margin: 0.3rem;
}
.switch-cat-list {
  font-weight: bold;
  text-align: center;
  background-color: white;
  font-size: 1em;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px 2px black;
  color: rgb(204, 60, 60);
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  margin: 0.5rem;

  &:hover {
    transition: 0.5s ease-in-out;
    color: black;
  }
}
.create-cat-btn {
  text-align: center;
  background-color: white;
  font-size: 1em;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px 2px black;
  color: rgb(204, 60, 60);
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  margin: 0.8rem 0.5rem;
  font-weight: bold;

  &:hover {
    transition: 0.5s ease-in-out;
    color: black;
  }
}
.create-btn-container {
  display: flex;
  justify-content: center;
}

.change-point {
  cursor: pointer;
}
.change-point-dis {
  background-color: rgba(119, 119, 119, 0.619);
}
//Responsive

@media screen and (min-width: 750px) {
  .usercat-img-select {
    width: 400px;
    height: 400px;
  }
  .next-btn,
  .prev-btn {
    margin: 20px;
    font-size: 120px;
  }
  .create-cat-container {
    width: 620px;
  }
}
