@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto:wght@100&display=swap");
* {
  scroll-behavior: smooth;
  margin: 0;
}
$color-black: #23272a;
$color-white: #fff;
$color-red: rgb(174, 52, 52);
$color-shadow: rgba(0, 0, 0, 0.25);

.footer--background {
  display: none;
}
.footer--text {
  display: none;
}
@media screen and (min-width: 500px) {
  .footer--background {
    position: absolute;
    bottom: 0%;
    background-color: $color-black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    ::selection {
      background-color: $color-white;
      color: rgb(0, 0, 0);
    }
  }
  .footer--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    font-family: "Nosifer", sans-serif;
    font-size: 0.8rem;

    p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &:hover {
      transition: 1s;
      color: $color-red;
    }
  }
}
