@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto:wght@100&display=swap");
* {
  scroll-behavior: smooth;
}
$color-black: #161616;
$color-flicker: #1616161a;
$color-white: #fff;
$color-red: rgb(204, 60, 60);
$size: 170px; // (Fully responsive)
// Remove margin of the agentuserstylesheet body
body {
  margin: 0px;
}
//Title
.title {
  color: $color-white;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 130px;
  z-index: 1;
}
.catfight {
  margin: 0;
  font-family: "Nosifer", sans-serif;
  font-size: 2.3rem;
  color: var(--white);
  text-shadow: 0 0 5px rgb(204, 60, 60), 0 0 10px rgb(204, 60, 60),
    0 0 20px rgb(204, 60, 60), 0 0 40px rgb(204, 60, 60),
    0 0 80px rgb(204, 60, 60), 0 0 90px rgb(204, 60, 60),
    0 0 100px rgb(204, 60, 60), 0 0 150px rgb(204, 60, 60);
  span {
    padding-left: 15px;
  }
}
#I {
  opacity: 1;
  animation: flickerI 2s linear reverse infinite;
  &::after {
    content: "";
    width: 150%;
    -webkit-box-shadow: -35px 0px 60px 8px rgb(204, 60, 60);
    -moz-box-shadow: -35px 0px 60px 8px rgb(204, 60, 60);
    box-shadow: -35px 0px 60px 8px rgb(204, 60, 60);
  }
}
#F,
#G {
  animation: flickerFG 2s linear reverse infinite;
  position: relative;
}
#F {
  &::before {
    content: " ";
    width: 100px;
    height: 100px;
    background: var(--white);
    position: absolute;
    top: -50%;
    left: 100%;
    border-radius: 100%;
    opacity: 0.05;
    filter: blur(10px);
  }
  &::after {
    width: 200px;
    height: 200px;
    top: -150%;
    left: -5%;
    opacity: 0.1;
    filter: blur(10px);
  }
}
#H {
  animation: flickerH 2s linear reverse infinite;
}

#T {
  animation: flickerH 2s linear reverse infinite;
}

@keyframes flickerI {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerFG {
  0% {
    opacity: 0.19;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.25;
  }
  15% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.35;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes flickerH {
  0% {
    opacity: 0.15;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.12;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.15;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.12;
  }
  45% {
    opacity: 0.15;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.18;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes flickerT {
  0% {
    opacity: 0.01;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.03;
  }
  15% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.07;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.06;
  }
  45% {
    opacity: 0.1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}
// ! -------------------------------------------------------------------
.picture--size {
  position: absolute;
  top: 15%;
  height: 200px;
  opacity: 0.3;
  z-index: -2;
}
// Cat
.cat-placement {
  display: flex;
  justify-content: center;
}
.cat {
  position: relative;
  height: $size;
  width: $size * 1.13;
}
// Ears
.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: $color-white;

  // Ear hair
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: $color-black;
  }

  &::after {
    transform-origin: 50% 100%;
  }
}
.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-15deg);

  &::before,
  &::after {
    right: 10%;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(15deg);

  &::before,
  &::after {
    left: 10%;
  }

  &::after {
    transform: rotate(45deg);
  }
}
// Face
.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $color-black;
  border-radius: 50%;
}
// Eyes
.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: $color-white;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;

  // Eyelids
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50% / 0 0 40% 40%;
    background: $color-black;
    animation: blink 4s infinite ease-in;
  }
  @keyframes blink {
    0% {
      height: 0;
    }
    90% {
      height: 0;
    }
    92.5% {
      height: 100%;
    }
    95% {
      height: 0;
    }
    97.5% {
      height: 100%;
    }
    100% {
      height: 0;
    }
  }

  // Tips of the eyes
  &::before {
    content: "";
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: $color-white;
    border-radius: 50%;
  }
}
.eye--left {
  left: 0;

  &::before {
    right: -5%;
  }
}
.eye--right {
  right: 0;

  &::before {
    left: -5%;
  }
}
// Pupils
.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: $color-red;
  border-radius: 50%;
  animation: look-around 4s infinite;

  @keyframes look-around {
    0% {
      transform: translate(0);
    }
    5% {
      transform: translate(50%, -25%);
    }
    10% {
      transform: translate(50%, -25%);
    }
    15% {
      transform: translate(-100%, -25%);
    }
    20% {
      transform: translate(-100%, -25%);
    }
    25% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .eye--left & {
    right: 30%;
  }

  .eye--right & {
    left: 30%;
  }

  // Glare on the pupil
  &::after {
    content: "";
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: $color-white;
  }
}
// Muzzle
.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: $color-white;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}
/* General page styling */
header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $color-black;
}
// Fight Button
.fight-button {
  background-color: $color-white;
  margin-top: 40px;
  font-family: "Nosifer", sans-serif;
  font-size: 1.8em;
  justify-content: center;
  display: flex;
  box-shadow: 4px 5px 5px #919191;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 350px;

  &:hover {
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    color: rgb(204, 60, 60);
  }
}
a {
  text-decoration: none;
  color: $color-black;
}

@media screen and (min-width: 500px) {
  .picture--size {
    top: 9%;
  }
  .catfight {
    font-size: 3rem;
  }
}
